{% extends 'base.html.twig' %}

{% block title %}Hello TabController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/wamp64/www/my_symfony_project/src/Controller/TabController.php</code></li>
        <li>Your template at <code>C:/wamp64/www/my_symfony_project/templates/tab/index.html.twig</code></li>
    </ul>
</div>
<div>
    <table class="table">
    {% for note in notes %}
        <tr>
            <td>{{ note }}</td>
        </tr>
    {% endfor %}
    </table>
    <div class="alert alert-info">
        <p>Note Min : {{ min(notes) }}</p>
        <p>Note Max : {{ max(notes) }}</p>
        <p>Nb Notes : {{ notes | length }}</p>
    </div>
</div>
{% endblock %}
