{% extends 'templateBootstrap.html.twig' %}

{% block tail_title %}Hello MyFirstController!{% endblock %}

{% block page_title %}MyFirstController!{% endblock %}

{% block body %}
<p>Hello {{ nom }}, tu as {{ age }} ans.</p>
<p>Mon url est {{ url('app_my_first') }}</p>
<p>Mon path est {{ path('app_my_first') }}</p>
<img src="{{ asset('assets/images/') ~ path | defaultImage }}" alt=''>

{% endblock %}