{% extends 'templateBootstrap.html.twig' %}

{% block tail_title %}PersonneController{% endblock %}

{% block page_title %}Liste des personnes : {% endblock %}

{% block body %}
<div class="row">
{% for p in personnes %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Carte de membre</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ p.firstname }} {{ p.name }}</h6>
            <p class="card-text">Age : {{ p.age }}</p>
            <a href="{{ path('app_personne.detail', {id: p.id}) }}" class="card-link">Détails</a>
            <a href="{{ path('app_personne.detail2', {id: p.id}) }}" class="card-link">Détails avec ParamConverter</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
