{% extends 'templateBootstrap.html.twig' %}

{% block tail_title %}PersonneController{% endblock %}

{% block page_title %}Liste des personnes : {% endblock %}

{% block body %}
<div class="row">
{% for p in personnes %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Carte de membre</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ p.firstname }} {{ p.name }}</h6>
            <p class="card-text">Age : {{ p.age }}</p>
            <a href="{{ path('app_personne.detail', {id: p.id}) }}" class="card-link">Détails</a>
            <a href="{{ path('app_personne.detail2', {id: p.id}) }}" class="card-link">Détails avec ParamConverter</a>
        </div>
    </div>
{% endfor %}
</div>
{% if isPaginated|default %}
    <nav aria-label="mt-2 Page navigation example">
    <ul class="pagination">
        {% if currentPage != 1 %}
            <li class="page-item"><a class="page-link" href="{{path('app_personne.all', {page:currentPage-1, nbElem:nbElem})}}">Previous</a></li>
        {% endif %}

        {% for i in range(1, nbPage) %}
            <li class="page-item {%if i == currentPage %}active{% endif %}"><a class="page-link" href="{{path('app_personne.all', {page:i, nbElem:nbElem})}}">{{ i }}</a></li>
        {% endfor %}
        {% if currentPage != nbPage %}
            <li class="page-item"><a class="page-link" href="{{path('app_personne.all', {page:currentPage+1, nbElem:nbElem})}}">Previous</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
